{:computer-computer-random
 {:size 3
  :initial-player :p1
  :players
  {:p1
   {:algorithm :random}

   :p2
   {:algorithm :random}}}

 :computer-win-random
 {:size 3
  :initial-player :p1
  :players
  {:p1
   {:algorithm :random}

   :p2
   {:algorithm :win}}}}
